* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #FFBA00;
    --secundary-color: #FFF1CC;
    --shadow-color: #CCC;
    --text-color: #FFF;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: direction;
    font-family: 'monospace', sans-serif;
    position: relative; 
}

header {
    background-color: var(--primary-color);
    height: 70px;
    text-align: center;
    line-height: 70px;
    box-shadow: 0 1px 3px var(--shadow-color);
}
